:host {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
  }
  .item {
    color: white;
    display: flex;
    flex: 1 0 auto;
    &.text {
      padding-left: 8px;
    }
    &.name {
      font-size: medium;
    }
    &.description {
      font-size: x-small;
    }
    &.image {
      height: 75%;
    }
  }
  p {
    margin: 0;
    padding: 0;
    align-self: center;
  }
  img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}
