:host {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
  }
  .item {
    color: white;
    display: flex;
    &.text {
      text-align: left;
      padding: 0px 16px 0px 16px;
    }
    &.name {
      font-size: initial;
      height: 7%;
    }
    &.description {
      font-size: small;
    }
    &.image {
      height: 75%;
      padding: 8px;
    }
  }
  p {
    margin: 0;
    padding: 0;
    align-self: center;
  }
  img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}
